<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cows_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cows_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,413},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cows_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,413},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cows_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,547},{110,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cows_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{110,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,677},{110,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cows_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{110,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,801},{110,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cows_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,277},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cows_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,139},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cowsRun.png</string>
            <key>size</key>
            <string>{112,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef50f15bb654cc742f163add0a3ab7c3:2c094d57bb3bce981546e4cd5334a8bf:993fa9c18236b69fda34a000a41f95c2$</string>
            <key>textureFileName</key>
            <string>cowsRun.png</string>
        </dict>
    </dict>
</plist>
