<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,29}</string>
                <key>spriteSize</key>
                <string>{352,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,29}</string>
                <key>spriteSize</key>
                <string>{352,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,377},{352,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,29}</string>
                <key>spriteSize</key>
                <string>{352,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{355,1},{352,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,29}</string>
                <key>spriteSize</key>
                <string>{352,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{355,377},{352,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,29}</string>
                <key>spriteSize</key>
                <string>{350,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1063,377},{350,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,29}</string>
                <key>spriteSize</key>
                <string>{352,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{709,1},{352,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,29}</string>
                <key>spriteSize</key>
                <string>{350,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1417,1},{350,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,29}</string>
                <key>spriteSize</key>
                <string>{352,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{709,377},{352,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,29}</string>
                <key>spriteSize</key>
                <string>{350,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1415,377},{350,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,29}</string>
                <key>spriteSize</key>
                <string>{352,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1063,1},{352,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1768,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5eb68ae9f491b28d3f2963cf71b7002:b7fdad4bd0117159a1f9141033be2185:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
