<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pudding_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-31}</string>
                <key>spriteSize</key>
                <string>{444,396}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{404,392}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{447,1},{404,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-36}</string>
                <key>spriteSize</key>
                <string>{402,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{871,403},{402,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-34}</string>
                <key>spriteSize</key>
                <string>{426,394}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{443,399},{426,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-31}</string>
                <key>spriteSize</key>
                <string>{428,400}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1259,1},{428,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-34}</string>
                <key>spriteSize</key>
                <string>{440,394}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,399},{440,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-36}</string>
                <key>spriteSize</key>
                <string>{402,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1275,403},{402,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{404,392}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{853,1},{404,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puddingRun.png</string>
            <key>size</key>
            <string>{1688,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d408ee9db88f684d41b31ea9f798b4c4:6d8c30ffa3b70a55892dda945d50299a:3aac283ba798b9e244b4afccb0824026$</string>
            <key>textureFileName</key>
            <string>puddingRun.png</string>
        </dict>
    </dict>
</plist>
