<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>road_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-256}</string>
                <key>spriteSize</key>
                <string>{640,624}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{643,1291},{640,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-252}</string>
                <key>spriteSize</key>
                <string>{640,632}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{643,657},{640,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-248}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1285,649},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-245}</string>
                <key>spriteSize</key>
                <string>{640,646}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,646}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-241}</string>
                <key>spriteSize</key>
                <string>{640,654}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_b_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-240}</string>
                <key>spriteSize</key>
                <string>{640,656}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,663},{640,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_b_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-238}</string>
                <key>spriteSize</key>
                <string>{640,660}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_b_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-257}</string>
                <key>spriteSize</key>
                <string>{640,622}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1285,1291},{640,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roadBRun.png</string>
            <key>size</key>
            <string>{1926,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa718cf2f3ef18589cb908f47cc80db:907cbc349acde05d97a2b3930e6785f4:23e9986e54f1ab9bbb8d7c8507249179$</string>
            <key>textureFileName</key>
            <string>roadBRun.png</string>
        </dict>
    </dict>
</plist>
