<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>road_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-257}</string>
                <key>spriteSize</key>
                <string>{640,622}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{643,643},{640,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_a_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-253}</string>
                <key>spriteSize</key>
                <string>{640,630}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1289,639},{640,630}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_a_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-250}</string>
                <key>spriteSize</key>
                <string>{640,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1289,1},{640,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_a_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-246}</string>
                <key>spriteSize</key>
                <string>{640,644}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,644}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_a_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-242}</string>
                <key>spriteSize</key>
                <string>{640,652}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_a_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-243}</string>
                <key>spriteSize</key>
                <string>{640,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,655},{640,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_a_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-257}</string>
                <key>spriteSize</key>
                <string>{640,622}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{643,1267},{640,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_a_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-262}</string>
                <key>spriteSize</key>
                <string>{640,612}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1285,1271},{640,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roadARun.png</string>
            <key>size</key>
            <string>{1930,1890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39101e9c012a803a106a3fe75d65919a:d4096a68927501ffc7276dfca1e03f8f:108479ec79daf8059c4ebc34d3e0e59b$</string>
            <key>textureFileName</key>
            <string>roadARun.png</string>
        </dict>
    </dict>
</plist>
