<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tea_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{324,458}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{324,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-20}</string>
                <key>spriteSize</key>
                <string>{312,454}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{647,461},{312,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{318,450}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{327,1},{318,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{318,450}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{327,453},{318,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-21}</string>
                <key>spriteSize</key>
                <string>{310,452}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{959,1},{310,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-20}</string>
                <key>spriteSize</key>
                <string>{308,454}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{961,455},{308,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{310,458}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{647,1},{310,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{324,458}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,461},{324,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teaRun.png</string>
            <key>size</key>
            <string>{1270,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab193828304009ebf75bfbccf54e19af:fd16bd8459e077320fdd845dc92a34bb:c87bd3f88f84a5a140d75a5c5500b8da$</string>
            <key>textureFileName</key>
            <string>teaRun.png</string>
        </dict>
    </dict>
</plist>
