<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,765},{582,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{585,1},{582,762}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1349,1},{582,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{585,585},{582,762}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1349,765},{582,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{585,1169},{582,762}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home1.png</string>
            <key>size</key>
            <string>{1932,1752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f28a421c49bd2d5ede7902207f268f51:6f82d19f546ac38a105d2d0bd68f2fdb:ace17d67ce2361233b500a3e723fcae0$</string>
            <key>textureFileName</key>
            <string>home1.png</string>
        </dict>
    </dict>
</plist>
