<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,762}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{765,1},{582,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,585},{582,762}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{765,765},{582,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,100}</string>
                <key>spriteSize</key>
                <string>{582,762}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1169},{582,762}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home3.png</string>
            <key>size</key>
            <string>{1348,1752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f5ece071180bb6558755e4327d5e97:58261d78cf1f4e65fa93a58568685f91:be75322a4519cd22645c5c0c7d21bb21$</string>
            <key>textureFileName</key>
            <string>home3.png</string>
        </dict>
    </dict>
</plist>
